<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello!</title>
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- <h1><%= myTitle %></h1> -->
    <h2>Google Sheets API Quickstart</h2>
    <p>Google Sheets API Quickstart</p>
    <p id="output"></p>

    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize_button" style="display: none">Authorize</button>
    <button id="signout_button" style="display: none">Sign Out</button>

    <pre id="content" style="white-space: pre-wrap"></pre>

    <script type="module">
      import { test } from "./demo.js";
      test();
    </script>

    <script type="text/javascript" src="external.js"></script>
    <input
      type="button"
      onclick="letMeCallYou()"
      value="run external javascript"
    />

    <script>
      window.onload = function () {
        var name = prompt("What's your name?");
        var lengthOfName = name.length;

        document.getElementById("output").innerHTML = lengthOfName;
      };
    </script>

    <script
      async
      defer
      src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()"
    ></script>
  </body>
</html>
